<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Edit student</h1>
    <p>
        <a href="/create-student">Create new Student</a>
    </p>
    <form action="/edit-student" th:object="${student}" method="post">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Name</td>
                <td><input type="text" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
            </tr>
            <tr>
                <td>Address</td>
                <td><input type="text" th:field="*{address}"></td>
            </tr>
            <tr>
                <td>Email</td>
                <td><input type="text" th:field="*{email}"></td>
                <td th:if="${#fields.hasErrors()}" th:errors="*{email}"></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <input type="radio" th:field="*{gender}" th:value="male"><label th:text="male"></label>
                    <input type="radio" th:field="*{gender}" th:value="female"><label th:text="female"></label>
                </td>
            </tr>
            <tr>
                <td>Favorites</td>
                <td>
                    <ul style="list-style-type: none">
                        <li th:each="f : ${listFavorites}">
                            <input type="checkbox" th:field="*{favorites}" th:value="${f}"><label th:text="${f}"></label>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Position</td>
                <td>
                    <select th:field="*{position}">
                        <option th:each="p : ${listPosition}" th:value="${p}" th:text="${p}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Modify"></td>
            </tr>
        </table>
    </form>
</body>
</html>